@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

/* Variáveis */
:root {
    --primary-color: #17c8db;
    --secondary-color: #208686;
    --text-color: #2da5c0;
    --background-color: #F2E3D5;
    --button-hover: #005a7e;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}
}

/* código omitido */
/* código omitido */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Corpo da página */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
}

p {
    margin-top: 20px;
}

img {
    max-width: 90%;
}

/* código omitido */
